In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("C:/Users/admin/Downloads/22.faa_ai.csv",encoding='ISO-8859-1')
data

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,No,08-FEB-16,31-DEC-15,17:00:00Z,SAN ANTONIO,Texas,NaN,"AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...",Accident,FAA San Antonio FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,No,08-FEB-16,05-FEB-16,11:17:00Z,MARICOPA,Arizona,NaN,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident,FAA Scottsdale FSDO-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,NaN,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,No,08-FEB-16,05-FEB-16,23:02:00Z,SAN PEDRO,California,NaN,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,FAA Long Beach FSDO-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Yes,02-FEB-16,02-FEB-16,01:52:00Z,MOBILE,Alabama,NaN,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident,FAA Birmingham FSDO-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.shape

(83, 42)

In [5]:
data.head(5)

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [7]:
# Extract the desired attributes
extracted_data = data[['ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT', 'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG']]

# Print the extracted data
print(extracted_data)

    ACFT_MAKE_NAME  LOC_STATE_NAME ACFT_MODEL_NAME  \
0            BEECH  North Carolina              36
1             VANS         Florida             RV7
2           CESSNA      New Jersey             172
3          LANCAIR  North Carolina             235
4           CESSNA          Alaska             172
..             ...             ...             ...
78         AERONCA           Texas            O58B
79  NORTH AMERICAN         Arizona             F51
80        CHAMPION      California           8KCAB
81           BEECH      California              35
82          CESSNA         Alabama             182

                                             RMK_TEXT       FLT_PHASE  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...   UNKNOWN (UNK)
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...   LANDING (LDG)
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...  APPROACH (APR)
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...   LANDING (LDG)
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...   LANDING (LDG)
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...   LANDING (LDG)
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...   UNKNOWN (UNK)
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...   UNKNOWN (UNK)

   EVENT_TYPE_DESC FATAL_FLAG
0         Accident        Yes
1         Incident        NaN
2         Incident        NaN
3         Incident        NaN
4         Incident        NaN
..             ...        ...
78        Accident        NaN
79        Accident        Yes
80        Accident        Yes
81        Accident        Yes
82        Accident        Yes

[83 rows x 7 columns]

In [8]:
# List of required columns
required_columns = ['ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT', 'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG']

# Create a new DataFrame with only the required columns
new_dataframe = data[required_columns]

# Print the new DataFrame
print(new_dataframe)

    ACFT_MAKE_NAME  LOC_STATE_NAME ACFT_MODEL_NAME  \
0            BEECH  North Carolina              36
1             VANS         Florida             RV7
2           CESSNA      New Jersey             172
3          LANCAIR  North Carolina             235
4           CESSNA          Alaska             172
..             ...             ...             ...
78         AERONCA           Texas            O58B
79  NORTH AMERICAN         Arizona             F51
80        CHAMPION      California           8KCAB
81           BEECH      California              35
82          CESSNA         Alabama             182

                                             RMK_TEXT       FLT_PHASE  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...   UNKNOWN (UNK)
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...   LANDING (LDG)
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...  APPROACH (APR)
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...   LANDING (LDG)
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...   LANDING (LDG)
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...   LANDING (LDG)
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...   UNKNOWN (UNK)
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...   UNKNOWN (UNK)

   EVENT_TYPE_DESC FATAL_FLAG
0         Accident        Yes
1         Incident        NaN
2         Incident        NaN
3         Incident        NaN
4         Incident        NaN
..             ...        ...
78        Accident        NaN
79        Accident        Yes
80        Accident        Yes
81        Accident        Yes
82        Accident        Yes

[83 rows x 7 columns]

In [9]:
# Print the data types of the columns
print("Data types of columns in the new DataFrame:")
print(new_dataframe.dtypes)

Data types of columns in the new DataFrame:
ACFT_MAKE_NAME     object
LOC_STATE_NAME     object
ACFT_MODEL_NAME    object
RMK_TEXT           object
FLT_PHASE          object
EVENT_TYPE_DESC    object
FATAL_FLAG         object
dtype: object

In [10]:
# Check if DataFrame contains all required columns
missing_columns = [col for col in required_columns if col not in data.columns]

if len(missing_columns) == 0:
    print("DataFrame contains all required columns.")
else:
    print("Missing columns:", missing_columns)

DataFrame contains all required columns.

In [11]:
# Assuming you have a DataFrame named 'df' containing your data
# Replace 'required_output' with the value you want to use for missing values

required_output = 'REPLACEMENT_VALUE'
data['FATAL_FLAG'] = data['FATAL_FLAG'].fillna(required_output)

# Print the updated DataFrame to verify the changes
print(data)

   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
1       No  19-FEB-16      18-FEB-16      23:55:00Z     TAVERNIER
2       No  19-FEB-16      18-FEB-16      22:14:00Z       TRENTON
3       No  19-FEB-16      18-FEB-16      17:10:00Z     ASHEVILLE
4       No  19-FEB-16      18-FEB-16      00:26:00Z     TALKEETNA
..     ...        ...            ...            ...           ...
78      No  08-FEB-16      31-DEC-15      17:00:00Z   SAN ANTONIO
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
1          Florida            NaN
2       New Jersey            NaN
3   North Carolina            NaN
4           Alaska            NaN
..             ...            ...
78           Texas            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...        Incident
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...        Incident
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...        Incident
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...        Incident
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                   FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
1          FAA Miami FSDO-19  ...          NaN           NaN             NaN
2   FAA Philadelphia FSDO-17  ...          NaN           NaN             NaN
3      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
4      FAA Anchorage FSDO-03  ...          NaN           1.0             NaN
..                       ...  ...          ...           ...             ...
78   FAA San Antonio FSDO-17  ...          NaN           NaN             NaN
79    FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82    FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
1            NaN         NaN            NaN            NaN              NaN
2            NaN         NaN            NaN            NaN              NaN
3            NaN         NaN            NaN            NaN              NaN
4            NaN         NaN            NaN            NaN              NaN
..           ...         ...            ...            ...              ...
78           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
..            ...           ...
78            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[83 rows x 42 columns]

In [19]:
#Define the required output to replace missing values in 'FATAL_FLAG'
required_output = 'MISSING'

#Replace missing values in 'FATAL_FLAG' column with the required output
data['FATAL_FLAG'].fillna(required_output, inplace=True)

#Print the unique values in the 'FATAL_FLAG' column after replacement
print("Unique values in 'FATAL_FLAG' column after replacement:")
print(data['FATAL_FLAG'].unique())

#Display the modified dataset
print("Modified dataset:")
print(data)

Unique values in 'FATAL_FLAG' column after replacement:
['Yes' 'REPLACEMENT_VALUE']
Modified dataset:
   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
1       No  19-FEB-16      18-FEB-16      23:55:00Z     TAVERNIER
2       No  19-FEB-16      18-FEB-16      22:14:00Z       TRENTON
3       No  19-FEB-16      18-FEB-16      17:10:00Z     ASHEVILLE
4       No  19-FEB-16      18-FEB-16      00:26:00Z     TALKEETNA
..     ...        ...            ...            ...           ...
78      No  08-FEB-16      31-DEC-15      17:00:00Z   SAN ANTONIO
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
1          Florida            NaN
2       New Jersey            NaN
3   North Carolina            NaN
4           Alaska            NaN
..             ...            ...
78           Texas            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...        Incident
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...        Incident
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...        Incident
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...        Incident
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                   FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
1          FAA Miami FSDO-19  ...          NaN           NaN             NaN
2   FAA Philadelphia FSDO-17  ...          NaN           NaN             NaN
3      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
4      FAA Anchorage FSDO-03  ...          NaN           1.0             NaN
..                       ...  ...          ...           ...             ...
78   FAA San Antonio FSDO-17  ...          NaN           NaN             NaN
79    FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82    FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
1            NaN         NaN            NaN            NaN              NaN
2            NaN         NaN            NaN            NaN              NaN
3            NaN         NaN            NaN            NaN              NaN
4            NaN         NaN            NaN            NaN              NaN
..           ...         ...            ...            ...              ...
78           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
..            ...           ...
78            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[83 rows x 42 columns]

In [16]:
#Verify the replacements by printing unique values in the 'FATAL_FLAG' column
print("Unique values in 'FATAL_FLAG' column after replacement:")
print(data['FATAL_FLAG'].unique())

Unique values in 'FATAL_FLAG' column after replacement:
['Yes' 'REPLACEMENT_VALUE']

In [17]:
#Check the number of observations (rows) in the DataFrame
num_observations = len(data)
print("Number of observations:", num_observations)

Number of observations: 83

In [23]:
-----------#Drop rows where 'ACFT_MAKE_NAME' is missing
data_cleaned = data.dropna(subset=['ACFT_MAKE_NAME'])

#Drop unwanted columns
unwanted_columns = ['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME']
data_cleaned = data_cleaned.drop(columns=unwanted_columns)

In [21]:
#Display the cleaned dataset
print("Cleaned dataset:")
print(data_cleaned)

Cleaned dataset:
   LOC_CITY_NAME  LOC_STATE_NAME LOC_CNTRY_NAME  \
0     MARSHVILLE  North Carolina            NaN
1      TAVERNIER         Florida            NaN
2        TRENTON      New Jersey            NaN
3      ASHEVILLE  North Carolina            NaN
4      TALKEETNA          Alaska            NaN
..           ...             ...            ...
78   SAN ANTONIO           Texas            NaN
79      MARICOPA         Arizona            NaN
80     SAN PEDRO      California            NaN
81     SAN PEDRO      California            NaN
82        MOBILE         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...        Incident
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...        Incident
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...        Incident
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...        Incident
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                   FSDO_DESC REGIST_NBR FLT_NBR ACFT_OPRTR  ACFT_MAKE_NAME  \
0      FAA Charlotte FSDO-68      N61WB     NaN        NaN           BEECH
1          FAA Miami FSDO-19     N705RP     NaN        NaN            VANS
2   FAA Philadelphia FSDO-17     N9563A     NaN        NaN          CESSNA
3      FAA Charlotte FSDO-68      N10CF     NaN        NaN         LANCAIR
4      FAA Anchorage FSDO-03     N1530Y     NaN        NaN          CESSNA
..                       ...        ...     ...        ...             ...
78   FAA San Antonio FSDO-17     N47185     NaN        NaN         AERONCA
79    FAA Scottsdale FSDO-07     N551JP     NaN        NaN  NORTH AMERICAN
80    FAA Long Beach FSDO-05     N5057G     NaN        NaN        CHAMPION
81    FAA Long Beach FSDO-05     N9872R     NaN        NaN           BEECH
82    FAA Birmingham FSDO-09     N784CP     NaN        NaN          CESSNA

    ... PAX_INJ_NONE  PAX_INJ_MINOR PAX_INJ_SERIOUS PAX_INJ_FATAL PAX_INJ_UNK  \
0   ...          NaN            NaN             NaN           NaN         NaN
1   ...          NaN            NaN             NaN           NaN         NaN
2   ...          NaN            NaN             NaN           NaN         NaN
3   ...          NaN            NaN             NaN           NaN         NaN
4   ...          NaN            1.0             NaN           NaN         NaN
..  ...          ...            ...             ...           ...         ...
78  ...          NaN            NaN             NaN           NaN         NaN
79  ...          NaN            NaN             NaN           NaN         NaN
80  ...          NaN            NaN             NaN           NaN         NaN
81  ...          NaN            NaN             NaN           NaN         NaN
82  ...          NaN            NaN             NaN           NaN         NaN

    GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  GRND_INJ_FATAL  \
0             NaN            NaN              NaN             NaN
1             NaN            NaN              NaN             NaN
2             NaN            NaN              NaN             NaN
3             NaN            NaN              NaN             NaN
4             NaN            NaN              NaN             NaN
..            ...            ...              ...             ...
78            NaN            NaN              NaN             NaN
79            NaN            NaN              NaN             NaN
80            NaN            NaN              NaN             NaN
81            NaN            NaN              NaN             NaN
82            NaN            NaN              NaN             NaN

    GRND_INJ_UNK
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
78           NaN
79           NaN
80           NaN
81           NaN
82           NaN

[78 rows x 38 columns]

In [22]:
#Check the number of observations (rows) in the cleaned DataFrame
num_observations_cleaned = len(data_cleaned)
print("Number of observations in cleaned dataset:", num_observations_cleaned)

Number of observations in cleaned dataset: 78

In [24]:
#Check the number of observations in the cleaned dataset
num_observations_cleaned = len(data_cleaned)
print("Number of observations in cleaned dataset:", num_observations_cleaned)

Number of observations in cleaned dataset: 78

In [25]:
------------#Group the dataset by aircraft name
grouped_by_aircraft = data_cleaned.groupby('ACFT_MAKE_NAME')

In [26]:
#View the number of times each aircraft type appears in the dataset
aircraft_type_counts = grouped_by_aircraft.size()
print("Number of times each aircraft type appears:")
print(aircraft_type_counts)

Number of times each aircraft type appears:
ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

In [27]:
#Display observations where 'FATAL_FLAG' is "Yes"
fatal_observations = data[data['FATAL_FLAG'] == 'Yes']
print("Observations where 'FATAL_FLAG' is 'Yes':")
print(fatal_observations)

Observations where 'FATAL_FLAG' is 'Yes':
   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
22      No  17-FEB-16      16-FEB-16      20:52:00Z       BUCKEYE
53      No  12-FEB-16      11-FEB-16      11:32:00Z        DESTIN
55      No  11-FEB-16      11-FEB-16      00:17:00Z        TULARE
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
22         Arizona            NaN
53         Florida  United States
55      California            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
22  AIRCRAFT, LIGHT SPORT EVOLUTION REVO,  ON TAKE...        Accident
53  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...        Accident
55  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                 FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0    FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
22  FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
53                     NaN  ...          NaN           NaN             NaN
55      FAA Fresno FSDO-17  ...          NaN           NaN             NaN
79  FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80  FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81  FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82  FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
22           NaN         NaN            NaN            NaN              NaN
53           1.0         NaN            NaN            NaN              NaN
55           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
22            NaN           NaN
53            NaN           NaN
55            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[8 rows x 42 columns]

In [29]:
#View the total number of fatal and non-fatal accidents
fatal_counts = grouped_by_fatal.size()
print("Total number of fatal and non-fatal accidents:")
print(fatal_counts)

Total number of fatal and non-fatal accidents:
FATAL_FLAG
REPLACEMENT_VALUE    75
Yes                   8
dtype: int64

In [30]:
#Create a DataFrame to view only the fatal accidents
fatal_accidents_df = data[data['FATAL_FLAG'] == 'Yes']
print("DataFrame of fatal accidents:")
print(fatal_accidents_df)

DataFrame of fatal accidents:
   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
22      No  17-FEB-16      16-FEB-16      20:52:00Z       BUCKEYE
53      No  12-FEB-16      11-FEB-16      11:32:00Z        DESTIN
55      No  11-FEB-16      11-FEB-16      00:17:00Z        TULARE
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
22         Arizona            NaN
53         Florida  United States
55      California            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
22  AIRCRAFT, LIGHT SPORT EVOLUTION REVO,  ON TAKE...        Accident
53  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...        Accident
55  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                 FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0    FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
22  FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
53                     NaN  ...          NaN           NaN             NaN
55      FAA Fresno FSDO-17  ...          NaN           NaN             NaN
79  FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80  FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81  FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82  FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
22           NaN         NaN            NaN            NaN              NaN
53           1.0         NaN            NaN            NaN              NaN
55           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
22            NaN           NaN
53            NaN           NaN
55            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[8 rows x 42 columns]