In [1]:
import pandas as pd

In [4]:
df2=pd.DataFrame({"names":['vineet','hisham','raj','ajeet','sujit','ramesh','priya','priyanka','suresh','ritesh','hitesh','jatin','chitesh','suman','raman','aman','ravi','shravi','chavvi','himanshu']})
df3=pd.DataFrame({"results":['fail','fail','pass','pass','fail','pass','fail','pass','pass','pass','pass','fail','fail','fail','pass','fail','pass','fail','pass','pass']})                   
print(df2)
print(df3)

       names
0     vineet
1     hisham
2        raj
3      ajeet
4      sujit
5     ramesh
6      priya
7   priyanka
8     suresh
9     ritesh
10    hitesh
11     jatin
12   chitesh
13     suman
14     raman
15      aman
16      ravi
17    shravi
18    chavvi
19  himanshu
   results
0     fail
1     fail
2     pass
3     pass
4     fail
5     pass
6     fail
7     pass
8     pass
9     pass
10    pass
11    fail
12    fail
13    fail
14    pass
15    fail
16    pass
17    fail
18    pass
19    pass

In [16]:
df2 = pd.DataFrame({"names":['vineet','hisham','raj','ajeet','sujit','ramesh','priya','priyanka','suresh','ritesh','hitesh','jatin','chitesh','suman','raman','aman','ravi','shravi','chavvi','himanshu'],
                    "rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})
df3 = pd.DataFrame({"results":['fail','fail','pass','pass','fail','pass','fail','pass','pass','pass','pass','fail','fail','fail','pass','fail','pass','fail','pass','pass'],
                    "rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})

# Merge the DataFrames on 'rno'
merged_df = df2.merge(df3, on='rno')

# Filter out students who have successfully cleared the exam (results = 'pass')
cleared_students = merged_df[merged_df['results'] == 'pass']['names']

print("Students who have successfully cleared the exam:")
print(cleared_students)

Students who have successfully cleared the exam:
2          raj
3        ajeet
5       ramesh
7     priyanka
8       suresh
9       ritesh
10      hitesh
14       raman
16        ravi
18      chavvi
19    himanshu
Name: names, dtype: object

In [13]:
# Count the number of students who passed and failed
pass_count = (df3['results'] == 'pass').sum()
fail_count = (df3['results'] == 'fail').sum()

print("Number of students who passed:", pass_count)
print("Number of students who failed:", fail_count)

Number of students who passed: 11
Number of students who failed: 9

In [14]:
# Sort and print student names alphabetically
sorted_names = df2['names'].sort_values()

print("Student names arranged alphabetically:")
print(sorted_names)

Student names arranged alphabetically:
3        ajeet
15        aman
18      chavvi
12     chitesh
19    himanshu
1       hisham
10      hitesh
11       jatin
6        priya
7     priyanka
2          raj
14       raman
5       ramesh
16        ravi
9       ritesh
17      shravi
4        sujit
13       suman
8       suresh
0       vineet
Name: names, dtype: object